{
    "presets": [
        "env",
        "stage-0",
        "react"
    ],
    "env": {
        "node": {
            "plugins": [
                [
                    "babel-plugin-transform-require-ignore",
                    {
                        "extensions": [
                            ".less",
                            ".sass",
                            ".svg",
                            ".css"
                        ]
                    }
                ]
            ]
        }
    }
}